<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>READ IT</title>
    <script src="../js/script.js" defer></script>
</head>
<body>
    <nav>
        <h1>Read It</h1>
        <input type="search">
        <span id="display-name"></span>
        <a id="login-logout" href="/login">Login</a>
        <a href="/register">Register</a>
    </nav>
</body>
</html>