<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>READ IT</title>
    <script src="../js/script.js" defer></script>
    <script src="../js/getMessages.js" defer></script>

</head>

<body>
    <nav>
        <h1>READ IT</h1>
        <div>
            <input type="search" placeholder="Search">
            <div id="login-logout"></div>
        </div>
    </nav>
    <main>
        <h1>Messages</h1>
        <div id="newMessageBtnContainer"></div>
        <div id="messagesContainer">
        </div>
    </main>

</body>

</html>