<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>READ IT</title>
    <script src="../js/script.js" defer></script>
</head>

<body>
    <nav>
        <h1>READ IT</h1>
        <div>
            <input type="search" placeholder="Search">
            <div id="login-logout"></div>
        </div>
    </nav>
    <main>
        <h1>Nouveau message</h1>
        <form id="addNewMessage" action="/newMessage" method="post">
            <input id="getUsernameFromStorage" type="hidden" name="username" value="">
            <label for="titre">Titre:</label>
            <input name="titre" id="titre" placeholder="Titre" value="">
            <label for="message">Message:</label>
            <textarea name="message" id="message" placeholder="Votre question"></textarea>
            <button type="submit">Envoyer</button>
        </form>

    </main>
</body>

</html>